<div class="row">
  <div class="large-4 columns">
		<table>
		  <thead>
        <tr>
			    <td>Cines</td>
        </tr>
			</thead>
      <tbody>
			{{#each}}
			<tr>
				<td>
          {{#link-to 'cine' this}}
            {{nombre}}
          {{/link-to}}
        </td>
			</tr>
			{{/each}}
      </tbody>
		</table>
    <hr></hr>
    {{#link-to 'agregar_cine'}}
      <button class="button">Agregar nuevo</button>
    {{/link-to}}
  </div>
    {{outlet}}
</div>