<div class="large-8 columns">
  <h4>{{input value=nombre placeholder="Nombre"}}</h4>
  <h5>{{input value=ciudad placeholder="Ciudad"}}</h5>
  <button {{action 'guardar'}}class="button">Guardar</button>
  <button {{action 'eliminar'}}class="button">Eliminar</button>
</div>