<div class="large-8 columns">
  <h4>Agregar cine</h4>
  <hr></hr>
  <h4>{{input value=nombre placeholder="Nombre"}}</h4>
  <h5>{{input value=ciudad placeholder="Ciudad"}}</h5>
  <hr></hr>
    <button {{action 'guardar'}}class="button">Guardar</button>
    <button {{action 'cancelar'}}class="button">Cancelar</button>
</div>