<header>
 <div class="row">
  <h2>Ejemplo</h2>
  <h4>Mysql - Express - Ember - Node</h4>
 </div>
<hr>
</hr>
<div class="row">
  <ul class="inline-list">
    <li><a href="#">Inicio</a></li>
    <li>{{#link-to 'peliculas'}}Peliculas{{/link-to}}</li>
    <li>{{#link-to 'cines'}}Cines{{/link-to}}</li>
  </ul>
  <hr>
  </hr>
</div>
</header>
{{outlet}}